@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,400&display=swap");
.transition {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

html {
  background: #e6e6e6;
  font-family: 'Montserrat', sans-serif;
  height: 200vh;
}

html[data-theme='dark'] {
  background: #232323;
}

html[data-theme='dark'] .overlap-content {
  color: #e6e6e6;
  -webkit-box-shadow: 10px 10px 20px black;
          box-shadow: 10px 10px 20px black;
  background: url("../img/orange-bubbles-dark.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

html[data-theme='dark'] .overlap-content .content label {
  -webkit-box-shadow: 10px 10px 20px black;
          box-shadow: 10px 10px 20px black;
}

html[data-theme='dark'] .landing {
  background: url("../img/blue-bubbles-dark.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

html[data-theme='dark'] .landing .landing-title {
  border-color: #e6e6e6;
  color: #e6e6e6;
}

html[data-theme='dark'] .sidebar,
html[data-theme='dark'] .sidebar-top,
html[data-theme='dark'] .container {
  background-color: #232323;
  -webkit-box-shadow: 10px 10px 20px black;
          box-shadow: 10px 10px 20px black;
}

html[data-theme='dark'] .dark-mode-toggle {
  background: #e6e6e6;
  color: #232323;
}

html[data-theme='dark'] .tooltip,
html[data-theme='dark'] .tooltip-top {
  background: #e6e6e6;
  -webkit-text-fill-color: #232323;
}

html[data-theme='dark'] .tooltip .fa-caret-left,
html[data-theme='dark'] .tooltip-top .fa-caret-left {
  -webkit-text-fill-color: #e6e6e6;
}

body {
  margin: 0;
  padding: 0;
}

.dark-mode-toggle {
  position: fixed;
  bottom: 1.5em;
  left: 1.5em;
  background: #232323;
  padding: 0.7em;
  border-radius: 15px;
  color: #e6e6e6;
}

.dark-mode-toggle input[type=checkbox] {
  visibility: hidden;
  height: 0;
  width: 0;
}

.dark-mode-toggle label {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  background: #cdcdcd;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.dark-mode-toggle label:after {
  border-radius: 50%;
  position: absolute;
  content: '';
  background: #fff;
  width: 20px;
  height: 20px;
  top: 5px;
  left: 4px;
  -webkit-transition: ease-in-out 200ms;
  transition: ease-in-out 200ms;
}

.dark-mode-toggle input:checked + label {
  background: #3cea93;
}

.dark-mode-toggle input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.credits {
  z-index: 10000;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  right: 0;
  bottom: 0;
}

.credits ul {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  list-style: none;
}

.credits ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
  color: gray;
}

.credits ul li::before {
  content: '';
  display: inline-block;
  height: 1em;
  width: 1em;
  background-image: url("../img/right-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.3em;
}

.credits ul a {
  color: #e6e6e6;
  text-decoration: none;
  border-bottom: 2px solid #ffb184;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.credits ul a:hover {
  border-bottom: 2px solid #ff8037;
}

.credits input[type=checkbox] {
  visibility: hidden;
  opacity: 0;
}

.credits input[type=checkbox]:checked + label {
  color: #232323;
  background-position: -8.8em;
}

.credits label {
  z-index: 1;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  border-radius: 2em;
  padding: 7px 10px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background: -webkit-gradient(linear, right top, left top, from(#ffdc37), color-stop(#ffa253), color-stop(#ff767a), color-stop(#c96295), to(#805b95));
  background: linear-gradient(to left, #ffdc37, #ffa253, #ff767a, #c96295, #805b95);
  background-size: 23em auto;
  cursor: pointer;
  color: #e6e6e6;
  font-size: 10px;
}

.credits label:hover {
  color: #232323;
  background-position: -8.8em;
}

.underline {
  border-bottom: 2px solid;
}

.padding {
  height: 5em;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 4em 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em 0;
  width: 5.5em;
  margin: 0 1.66667%;
  height: 36em;
  border-radius: 1em;
  background: white;
  -webkit-box-shadow: 10px 10px 20px #a3a3a3;
          box-shadow: 10px 10px 20px #a3a3a3;
}

.sidebar-top {
  z-index: 3;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2em;
  height: 5em;
  top: 1.66667%;
  margin: 0;
  width: calc(100% - $wrapper-margin-size / 6);
  left: 1.66667%;
  right: 1.66667%;
  border-radius: 1em;
  background: white;
  -webkit-box-shadow: 10px 10px 20px #a3a3a3;
          box-shadow: 10px 10px 20px #a3a3a3;
}

.tabs-top {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs-top .tab-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1.5em;
  font-size: 30px;
  background-image: -webkit-gradient(linear, left top, right top, from(#2ef2d8), color-stop(#00e0fc), color-stop(#00c9ff), color-stop(#00a9ff), color-stop(#997eff), color-stop(#d163dd), color-stop(#f246af), color-stop(#ff357d), color-stop(#ff5d60), color-stop(#ff8846), color-stop(#ffb332), to(#ffdc37));
  background-image: linear-gradient(to right, #2ef2d8, #00e0fc, #00c9ff, #00a9ff, #997eff, #d163dd, #f246af, #ff357d, #ff5d60, #ff8846, #ffb332, #ffdc37);
  background-size: 3.4em;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.tabs-top .tab-top:hover {
  background-position: -1.5em;
}

.tabs {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em 0;
  font-size: 30px;
  background-image: -webkit-gradient(linear, left top, right top, from(#2ef2d8), color-stop(#00e0fc), color-stop(#00c9ff), color-stop(#00a9ff), color-stop(#997eff), color-stop(#d163dd), color-stop(#f246af), color-stop(#ff357d), color-stop(#ff5d60), color-stop(#ff8846), color-stop(#ffb332), to(#ffdc37));
  background-image: linear-gradient(to right, #2ef2d8, #00e0fc, #00c9ff, #00a9ff, #997eff, #d163dd, #f246af, #ff357d, #ff5d60, #ff8846, #ffb332, #ffdc37);
  background-size: 3.4em;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.tabs .tab:hover {
  background-position: -1.5em;
}

.tooltip-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #232323;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding: 10px 10px;
  width: 6.5em;
  -webkit-text-fill-color: white;
  margin: 8em 0.1em 0 0.05em;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  z-index: 99999;
  -webkit-transform: translateY(2em);
          transform: translateY(2em);
}

.tooltip-top .fa-caret-left {
  font-size: 30px;
  position: absolute;
  margin: -0.8em 0.03em 0 0;
  background: none;
  -webkit-text-fill-color: #232323;
  border: none;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.tooltip-container-top {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1em;
  pointer-events: none;
}

.tooltip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #232323;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding: 10px 10px;
  -webkit-text-fill-color: white;
  margin: 0.69em 0 0.69em 14.5em;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  z-index: 99999;
  -webkit-transform: translateX(2em);
          transform: translateX(2em);
}

.tooltip .fa-caret-left {
  font-size: 30px;
  position: absolute;
  margin: 0.03em 0 0 -2.2em;
  background: none;
  -webkit-text-fill-color: #232323;
  border: none;
}

.tooltip-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin-bottom: 1em;
  pointer-events: none;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 3em;
  height: 3em;
  background: -webkit-gradient(linear, left top, right bottom, from(#2ef2d8), color-stop(#00c7ff), color-stop(#60a2ff), color-stop(#bf6ce4), to(#eb12aa));
  background: linear-gradient(to right bottom, #2ef2d8, #00c7ff, #60a2ff, #bf6ce4, #eb12aa);
  border-radius: 50%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 1.66667%;
  padding: 0;
  -webkit-box-shadow: 10px 10px 20px #a3a3a3;
          box-shadow: 10px 10px 20px #a3a3a3;
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 1em;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 40em;
  width: 100%;
  background-image: url("../img/blue-bubbles.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.landing .landing-title {
  width: 3em;
  font-size: 70px;
  font-weight: 200;
  margin-top: 4%;
  padding-bottom: 0.2em;
  border-bottom: 3px solid black;
  margin-right: 30%;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.landing .overlap-content {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 4%;
  padding: 30px;
  float: right;
  margin-right: 10%;
  border-radius: 1em;
  width: 30vw;
  height: 30em;
  background-image: url("../img/orange-bubbles.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-color: white;
  -webkit-box-shadow: 10px 10px 20px #a3a3a3;
          box-shadow: 10px 10px 20px #a3a3a3;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.landing .overlap-content h1 {
  font-weight: 400;
  margin-right: 5%;
  justify-self: flex-start;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.landing .overlap-content .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: calc(100% - 2em);
  padding-bottom: 2em;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.landing .overlap-content .content input[type=button] {
  visibility: hidden;
  opacity: 0;
}

.landing .overlap-content .content label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: 1.2em;
  color: #e6e6e6;
  font-size: 20px;
  border-radius: 1.5em;
  padding: 0.4em 7%;
  background: -webkit-gradient(linear, right top, left top, from(#ffdc37), color-stop(#ffa253), color-stop(#ff767a), color-stop(#c96295), to(#805b95));
  background: linear-gradient(to left, #ffdc37, #ffa253, #ff767a, #c96295, #805b95);
  background-size: 15em auto;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-box-shadow: 10px 10px 20px #a3a3a3;
          box-shadow: 10px 10px 20px #a3a3a3;
}

.landing .overlap-content .content label:hover {
  background-position: -6em;
  color: #232323;
}

.main {
  width: 50%;
  height: 40em;
  background-image: url("../img/triangle-bubble.png");
  background-size: 50%;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-color: white;
}

/*
#FF8037
#F15E6D
#C1578F
#805B95
#46567F
#2F4858
*/
/*# sourceMappingURL=style.css.map */