@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400&display=swap');
// BACKGROUNDS
$l_page_bg: #e6e6e6;
$d_page_bg: #232323;
// SHADOWS
$l_shadow: 10px 10px 20px lighten($d_page_bg,
50);
$d_shadow: 10px 10px 20px darken($d_page_bg,
50);
@mixin gradient_blue-pink-yellow($direction) {
    background-image: linear-gradient(to $direction, #2ef2d8, #00e0fc, #00c9ff, #00a9ff, #997eff, #d163dd, #f246af, #ff357d, #ff5d60, #ff8846, #ffb332, #ffdc37);
}

@mixin gradient_yellow-purple($direction) {
    background: linear-gradient(to left, #ffdc37, #ffa253, #ff767a, #c96295, #805b95);
}

@mixin gradient_pink-yellow($direction) {
    background: linear-gradient(to $direction, #eb12aa, #ff357d, #ff7154, #ffaa33, #ffdc37);
}

@mixin gradient_blue-pink($direction) {
    background: linear-gradient(to $direction, #2ef2d8, #00c7ff, #60a2ff, #bf6ce4, #eb12aa);
    ;
}

.transition {
    transition: all 0.25s ease-in-out;
}

html {
    background: $l_page_bg;
    font-family: 'Montserrat', sans-serif;
    height: 200vh
}

html[data-theme='dark'] {
    background: $d_page_bg;
    .overlap-content {
        color: $l_page_bg;
        box-shadow: $d_shadow;
        background: url("../img/orange-bubbles-dark.png");
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        .content label {
            box-shadow: $d_shadow;
        }
    }
    .landing {
        background: url("../img/blue-bubbles-dark.png");
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        .landing-title {
            border-color: $l_page_bg;
            color: $l_page_bg;
        }
    }
    .sidebar,
    .sidebar-top,
    .container {
        background-color: $d_page_bg;
        box-shadow: $d_shadow;
    }
    .dark-mode-toggle {
        background: $l_page_bg;
        color: $d_page_bg;
    }
    .tooltip,
    .tooltip-top {
        background: $l_page_bg;
        -webkit-text-fill-color: $d_page_bg;
        .fa-caret-left {
            -webkit-text-fill-color: $l_page_bg;
        }
    }
}

body {
    margin: 0;
    padding: 0;
}

.dark-mode-toggle {
    position: fixed;
    bottom: 1.5em;
    left: 1.5em;
    background: $d_page_bg;
    padding: 0.7em;
    border-radius: 15px;
    color: $l_page_bg;
    input[type=checkbox] {
        visibility: hidden;
        height: 0;
        width: 0;
    }
    label {
        margin: 0 auto;
        display: flex;
        border-radius: 100px;
        position: relative;
        cursor: pointer;
        text-indent: -9999px;
        width: 55px;
        height: 30px;
        background: darken($l_page_bg, 10);
        transition: all 0.25s ease-in-out;
    }
    label:after {
        border-radius: 50%;
        position: absolute;
        content: '';
        background: #fff;
        width: 20px;
        height: 20px;
        top: 5px;
        left: 4px;
        transition: ease-in-out 200ms;
    }
    input:checked+label {
        background: #3cea93;
    }
    input:checked+label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
    }
}

.credits {
    z-index: 10000;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    right: 0;
    bottom: 0;
    ul {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        background: $d_page_bg;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        visibility: hidden;
        opacity: 0;
        transition: all 0.25s ease-in-out;
        list-style: none;
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1em;
            color: darken($l_page_bg, 40);
            &::before {
                content: '';
                display: inline-block;
                height: 1em;
                width: 1em;
                background-image: url("../img/right-arrow.svg");
                background-size: contain;
                background-repeat: no-repeat;
                margin-right: 0.3em;
            }
        }
        a {
            color: $l_page_bg;
            text-decoration: none;
            border-bottom: 2px solid lighten(#ff8037, 15);
            transition: all 0.25s ease-in-out;
            &:hover {
                border-bottom: 2px solid #ff8037;
            }
        }
    }
    input[type=checkbox] {
        visibility: hidden;
        opacity: 0;
        &:checked+label {
            color: $d_page_bg;
            background-position: -8.8em;
        }
    }
    label {
        z-index: 1;
        margin-right: 1.5em;
        margin-bottom: 1.5em;
        border-radius: 2em;
        padding: 7px 10px;
        transition: all 0.25s ease-in-out;
        @include gradient_yellow-purple(right);
        background-size: 23em auto;
        cursor: pointer;
        color: $l_page_bg;
        font-size: 10px;
        &:hover {
            color: $d_page_bg;
            background-position: -8.8em;
        }
    }
}

.underline {
    border-bottom: 2px solid;
}

.padding {
    height: 5em;
    width: 100%;
    margin: 0;
    padding: 0;
}

$wrapper-margin-size: 10%;
.wrapper {
    margin: 4em $wrapper-margin-size / 4;
    display: flex;
    align-items: center;
    height: auto;
}

.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2em 0;
    width: 5.5em;
    margin: 0 $wrapper-margin-size / 6;
    height: 36em;
    border-radius: 1em;
    background: white;
    box-shadow: $l_shadow;
}

.sidebar-top {
    z-index: 3;
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0 2em;
    height: 5em;
    top: $wrapper-margin-size / 6;
    margin: 0;
    width: calc(100% - $wrapper-margin-size / 6);
    left: $wrapper-margin-size / 6;
    right: $wrapper-margin-size / 6;
    border-radius: 1em;
    background: white;
    box-shadow: $l_shadow;
}

// TABS TOP
.tabs-top {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .tab-top {
        display: flex;
        align-items: center;
        margin: 0 1.4em;
        font-size: 30px;
        @include gradient_blue-pink-yellow(right);
        background-size: 3.4em;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.25s ease-in-out;
        cursor: pointer;
        &:hover {
            background-position: -1.5em;
        }
    }
}

.tabs {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    .tab {
        display: flex;
        align-items: center;
        margin: 0.5em 0;
        font-size: 30px;
        @include gradient_blue-pink-yellow(right);
        background-size: 3.4em;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.25s ease-in-out;
        cursor: pointer;
        &:hover {
            background-position: -1.5em;
        }
    }
}

.tooltip-top {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $d_page_bg;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding: 10px 10px;
    width: 6.5em;
    -webkit-text-fill-color: white;
    margin: 8em -0.2em 0 0em;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    z-index: 99999;
    transform: translateY(2em);
    .fa-caret-left {
        font-size: 30px;
        position: absolute;
        margin: -0.8em 0.03em 0 0;
        background: none;
        -webkit-text-fill-color: $d_page_bg;
        border: none;
        transform: rotate(90deg);
    }
}

.tooltip-container-top {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1em;
    pointer-events: none;
}

.tooltip {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: $d_page_bg;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding: 10px 10px;
    -webkit-text-fill-color: white;
    margin: 0.69em 0 0.69em 14.5em;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    z-index: 99999;
    transform: translateX(2em);
    .fa-caret-left {
        font-size: 30px;
        position: absolute;
        margin: 0.03em 0 0 -2.2em;
        background: none;
        -webkit-text-fill-color: $d_page_bg;
        border: none;
    }
}

.tooltip-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 1em;
    pointer-events: none;
}

.logo {
    display: flex;
    position: absolute;
    width: 3em;
    height: 3em;
    background: linear-gradient(to right bottom, #2ef2d8, #00c7ff, #60a2ff, #bf6ce4, #eb12aa);
    border-radius: 50%;
}

.container {
    display: flex;
    margin: 0 $wrapper-margin-size / 6;
    padding: 0;
    box-shadow: $l_shadow;
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 1em;
    transition: all 0.25s ease-in-out;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 40em;
    width: 100%;
    background-image: url("../img/blue-bubbles.png");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    transition: all 0.25s ease-in-out;
    .landing-title {
        position: absolute;
        width: 3em;
        font-size: 70px;
        font-weight: 200;
        margin-top: 4%;
        padding-bottom: 0.2em;
        border-bottom: 3px solid black;
        right: 31.5%;
        transition: all 0.25s ease-in-out;
    }
    .overlap-content {
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 4%;
        padding: 30px;
        float: right;
        right: 10%;
        top: 25%;
        border-radius: 1em;
        width: 30vw;
        height: 30em;
        background-image: url("../img/orange-bubbles.png");
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        background-color: white;
        box-shadow: $l_shadow;
        transition: all 0.25s ease-in-out;
        h1 {
            font-weight: 400;
            margin-right: 5%;
            justify-self: flex-start;
            transition: all 0.25s ease-in-out;
        }
        .content {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 100%;
            height: calc(100% - 2em);
            padding-bottom: 2em;
            transition: all 0.25s ease-in-out;
            input[type=button] {
                visibility: hidden;
                opacity: 0;
            }
            label {
                display: flex;
                align-self: flex-start;
                justify-content: center;
                width: auto;
                height: 1.2em;
                color: $l_page_bg;
                font-size: 20px;
                border-radius: 1.5em;
                padding: 0.4em 7%;
                @include gradient_yellow-purple(right);
                background-size: 15em auto;
                cursor: pointer;
                transition: all 0.25s ease-in-out;
                box-shadow: $l_shadow;
                &:hover {
                    background-position: -6em;
                    color: $d_page_bg;
                }
            }
        }
    }
}

.main {
    width: 50%;
    height: 40em;
    background-image: url("../img/triangle-bubble.png");
    background-size: 50%;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-color: white;
}


/*
#FF8037
#F15E6D
#C1578F
#805B95
#46567F
#2F4858
*/